table{
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
td{
  height: 14px;
  width: 14px;
  margin: 0px;
  padding: 0px;

}
.table_box{
  width: 100%;
  display: flex;
  justify-content: center;

}
p{
  margin-bottom:0px;
}
.table_title{
  width: 80%;
  margin-left: 150px;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
li>p{
  font-weight: bold;
}
.legendDiv{
  display: flex;
  flex-direction: column;
}
.aboutLegend{
  display: inline-flex;
  flex-direction: column;

}
.item{
  display: inline-flex;
  align-items: center;
}
